<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="__(SDCloudDataBaseConnectionString)__" providerName="MySQL.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="WebApiConfig" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />

    <add key="FileStorageProviderType" value="__(SDCloudFileStorageProviderType)__" />
    <!-- File storage settings -->
    <add key="FileStorageBasePath" value="__(SDCloudFileStorageBasePath)__" />

    <!-- Remote artifactory configuration -->
    <add key="Artifactory.EndPoint" value="__(SDCloudArtifactoryEndPoint)__" />
    <add key="Artifactory.ApiKey" value="__(SDCloudArtifactoryApiKey)__" />
    <add key="Artifactory.AuthType" value="__(SDCloudArtifactoryAuthType)__" />
    <add key="Artifactory.RepositoryId" value="__(SDCloudArtifactoryRepositoryId)__" />

    <!-- Recaptcha configuration -->
    <add key="Recaptcha.ValidationApiEndpoint" value="https://www.google.com/recaptcha/api/siteverify"/>
    <add key="Recaptcha.PublicKey" value="__(SDCloudRecaptchaApiPublicKey)__"/>
    <add key="Recaptcha.SecretKey" value="__(SDCloudRecaptchaApiSecretKey)__"/>

    <!-- Registration form configuration -->
    <add key="RegistrationForm.IsRecaptchaAvailable" value="__(SDCloudRegistrtionFormIsRecaptchaAvailable)__"/>
    <add key="RegistrationForm.IsOrganisationInfoAvailable" value="__(SDCloudRegistrtionFormIsOrganisationInfoAvailable)__"/>

    <!-- Mongo DataBase connection settings -->
    <add key="MongoDbConnectionString" value="__(SDCloudMongoDataStorageConnectionString)__" />
    <add key="ModelData.DataBaseName" value="__(SDCloudMongoDataStorageDatabaseName)__"/>

    <!-- Configuration for models execution mode - using rabbitmq or default rest -->
    <add key="ModelsExecutionMode" value="__(SDCloudModelsExecutionMode)__" />
    <add key="RabbitMQ.Host" value="__(SDCloudRabbitMQHost)__"/>
    <add key="RabbitMQ.Port" value="__(SDCloudRabbitMQPort)__"/>
    <add key="RabbitMQ.DevicesExchangeName" value = "__(SDCloudRabbitMQDevicesExchangeName)__"/>
    <add key="RabbitMQ.UserName" value="__(SDCloudRabbitMQUserName)__" />
    <add key="RabbitMQ.Password" value="__(SDCloudRabbitMQPassword)__" />
    <add key="RabbitMQ.VHost" value="__(SDCloudRabbitMQVHost)__" />
    
    <!-- Configuration for Mail Notification service -->
    <add key="MailNotificationService.IsEnabled" value="__(SDCloudMailIsEnabled)__"/>
    <add key="MailNotificationService.SMTPServerAddress" value="__(SDCloudMailSMTPServerAddress)__"/>
    <add key="MailNotificationService.SMTPServerPort" value="__(SDCloudMailSMTPServerPort)__"/>
    <add key="MailNotificationService.SenderAddress" value="__(SDCloudMailSenderAddress)__"/>
    <add key="MailNotificationService.IsAuthRequired" value="__(SDCloudMailIsAuthRequired)__"/>
    <add key="MailNotificationService.SMTPServerLogin" value="__(SDCloudMailSMTPServerLogin)__"/>
    <add key="MailNotificationService.SMTPServerPassword" value="__(SDCloudMailSMTPServerPassword)__"/>
    <add key="MailNotificationService.IsMessageSigningEnabled" value="__(SDCloudMailIsMessageSigningEnabled)__" />
    <add key="MailNotificationService.PathToMessageSigningPEMKey" value="__(SDCloudMailPathToMessageSigningPEMKey)__" />

    <!-- Configuration to deal with RabbitMQ -->
    <add key="RabbitMQ.Host" value="__(SDCloudRabbitMQHost)__" />
    <add key="RabbitMQ.Port" value="__(SDCloudRabbitMQPort)__" />
    <add key="RabbitMQ.ExchangeName" value="sdcloud-models" />
    <add key="RabbitMQ.TopicName" value="sdcloud-execution-results" />

    <!-- Switch to chose between legacy and RabbitMQ based-->
    <add key="ModelsExecutionMode" value="rmq" />

    <!-- Configuration for Slack Notification service -->
    <add key="SlackNotificationService.SenderName" value="__(SDCloudSlackUserName)__"/>
    <add key="SlackNotificationService.IconPath" value="__(SDCloudSlackCustomIconOrEmoji)__"/>
    <add key="SlackNotificationService.Feedback_Url" value="__(SDCloudSlackFeedbackHookUrl)__"/>
    <add key="SlackNotificationService.Feedback_ChannelName" value="__(SDCloudSlackFeedbackHookChannelName)__"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="application.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,fff}] %-5p (%thread): %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="__(SDCloudIsDebug)__" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <!--
      This dependency is required to make Swagger REST documantation generation
      works with mono. Without it both /swagger and /swagger/docs api's
      will return 202-Not Found
      -->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />    <add name="SQLite Data Provider" description=".Net Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
</configuration>